.previewsList{
    display: grid;
    margin: 0 auto;
    padding: 13px 20px 3px 20px;
    width: 100%;
    height: fit-content;
    grid-template-columns: 1fr 237px 1fr;
    grid-template-rows: 420px 18px;
    grid-template-areas: ". mobile ." ". previewTitleMobile .";    
}

.spinnerContainer{
    color: #d1d1d1;
    display: flex;
    width: 100%;
    height: 440px;
    justify-content: center;
    align-items: center;
    padding: 13px 20px 3px 20px;
   
}




.previewTitleDesktop{
    display: none;
    margin: auto;    
    color: #d1d1d1;
    grid-area: previewTitleDesktop;
}

.previewMediaDesktop{
    display: none;
    width: 100%;
    max-width: 743px;    
    grid-area: desktop;
}

.previewTitleMobile{
    display: flex;
    margin: auto;
    text-align: center;
    color: #d1d1d1;
    grid-area: previewTitleMobile;
}

.previewMediaMobile{
    display: flex;
    width: 237px;
    height: 420px;
    grid-area: mobile;
}

.noDesktopPreviewMessage{
    display: block;
    color: #cccccc;
    width: 100%;
    height: fit-content;
    padding: 0 20px;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

@media screen and (min-width: 1050px) {
    .previewsList{
        display: grid;
        padding: 13px 20px 3px 40px;
        width: 100%;
        grid-template-columns: 237px 60px 745px;
        grid-template-rows: 420px 18px;
        grid-template-areas: "mobile . desktop" "previewTitleMobile . previewTitleDesktop";        
    }

    .previewTitleDesktop{
        display: flex;        
    }
    
    .previewMediaDesktop{
        display: flex;        
    }

    .noDesktopPreviewMessage{
        display: none;       
    }
}