.previewMediaDesktop{
  display: none;
  width: 100%;
  max-width: 743px;    
  grid-area: desktop;
}

.previewMediaMobile{
  display: flex;
  width: 237px;
  height: 420px;
  grid-area: mobile;
}

.desktopPreviewImage{
  width: 743px;
  height: 420px;
}

.mobilePreviewImage{
  width: 237px;
  height: 420px;
}

.controlContainer-prev, .controlContainer-next{  
  width: fit-content;  
}

.controlIcon-prev, .controlIcon-next{
  height: 35px;
  width: 30px;
  background-color: #48078C;
  opacity: 1 !important; 
  transition: none !important;
}
 
