.projectSummaryContainer{
    width: 100%;
    max-width: 1050px;    
    padding: 45px 20px 0 40px;
}

.projectSummaryTitle{
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    margin-bottom: 10px;
    height: 45px;
    color: #d1d1d1;
    
}

.projectSummaryGrid{
    display: grid;
    width: 100%;
    grid-template-rows: 35px 35px 35px 35px;
    grid-template-columns: 100%;
    grid-template-areas:  "name" "shortDescription" "linkSite" "LinkGitHub";
    align-items: center;
}

.projectSummaryParagraph{
    color: #cccccc;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

.projectSummaryName{
    color: #cccccc;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    margin-right: 20px;
    font-weight: 700;
}

.Link{
    cursor: pointer;
    font-weight: 400;
    border-bottom: 2px solid #d1d1d1;
    width: fit-content;
    height: fit-content;
}

.link:hover{
    cursor: pointer;
    font-weight: 500;
    color: yellow; 
    border-bottom: 2px solid white;
}

.link:visited{
    cursor: pointer;
    font-weight: 400;
    color: #cccccc;  
    border-bottom: 2px solid #d1d1d1;
}




.projectSummaryDescriptionContainer{
    margin: 20px 0;
}


.projectDetailsContainer{
    width: 100%;
    margin-top: 20px;
}


.moreDetailsContainer{
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.moreDetailsText{
    color: #d1d1d1;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid #d1d1d1;    
}


.projectDetailsTitle{
    font-size: 26px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.4px;
    text-align: left;
    margin: 45px 0 10px 0;
    height: 45px;
    color: #d1d1d1;
    
}



.projectDetailsParagraphs{
    font-size: 16px;
    color: #cccccc;
    margin-bottom: 20px;;
}

.linkName{
    margin-right: 15px;
}


.projectNameTitle{
    grid-area: title;
}

.projectSummaryName{
    grid-area: name ;
}

.viewSiteLink{
    grid-area: linkSite;
}

.gitHubLink{
    grid-area: LinkGitHub;
}


.shortDescription{
    grid-area: shortDescription;
   
}

.projectDescription{
    grid-area: description;
    margin-bottom: 20px;
}

 .technologiesGrid{
    display: grid;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 40px;
 }

 .technologyIcons{
    width:23px;
    height: 23px;
    margin-right: 1px;
 }

 .technologiesNames{
    color:#d1d1d1;
    font-size: 13px;

 }

 .technologyContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

 @media screen and (min-width: 1050px) {
    .projectSummaryGrid{
        display: grid;
        width: 100%;
        grid-template-columns: 65px auto 1fr 100px 100px;
        grid-template-rows: 40px;
        grid-template-areas:  "title name shortDescription linkSite LinkGitHub";
        align-items: center;
    }

    .technologiesGrid{
        display: grid;
        width: 100%;
        height: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
        grid-template-columns: repeat(5, 198px);
        grid-template-rows: 40px;
     }
 }