.headerContainer {
  display: grid;
  position: fixed;
  height: 55px;
  width: 100%;
  grid-template-columns: 1fr 50px 50px 50px 65px;
  grid-template-rows: 53px;
  grid-template-areas: '. mail git linkedin cv';

  z-index: 2 !important;
  align-items: center;
  background-color: rgb(15, 23, 42);
}

.iconosHeader {
  color: #d1d1d1;
  margin: auto;
}

.iconoMailHeader {
  width: 28px;
  height: 28px;
  grid-area: mail;
  background-color: black;
  border: none;
}

.iconoGitHeader {
  width: 26px;
  height: 26px;
  grid-area: git;
}

.iconoLinkedinHeader {
  width: 29px;
  height: 29px;
  grid-area: linkedin;
}

.iconoCVHeader {
  position: relative;
  width: fit-content;
  height: fit-content;
  font-size: 25px;
  font-weight: 700;
  margin: 0;
  right: -8px;
  grid-area: cv;
}

.copiedHeaderMessage {
  position: absolute;
  top: 27;
  right: -20px;
  width: 200px;
  text-align: center;
  color: #d1d1d1;
  grid-area: mail;
  font-size: 16px;
}

@media screen and (min-width: 1050px) {
  .headerContainer {
    display: grid;
    position: fixed;
    height: 55px;
    width: 100%;
    grid-template-columns: 1fr 50px 50px 50px 65px;
    grid-template-rows: 53px;
    grid-template-areas: '. mail git linkedin cv';
    background-color: rgb(15, 23, 42);
    z-index: 1;
    align-items: center;
  }

  .iconoMailHeader {
    width: 28px;
    height: 28px;
  }

  .iconoGitHeader {
    width: 26px;
    height: 26px;
  }

  .iconoLinkedinHeader {
    width: 30px;
    height: 30px;
  }

  .iconoCVHeader {
    font-size: 25px;
  }

  .copiedHeaderMessage {
    right: 0;
    font-size: 20px;
  }
}
