*, p, h1, h2, h3, h4, h5{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: Montserrat, sans-serif;
}

.App{
  background-color: black;
  width: 100%;
  min-height: 100vh;
  height: 100%;  
}

.hidden{
  display: none;
}

a{
  text-decoration: none !important;
  color: #d1d1d1 !important;
}

a:visited{
  text-decoration: none !important;
  color: #d1d1d1 !important;
}

a:active{
  text-decoration: none !important;
  color: #d1d1d1 !important;
}